
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

tutorial
composer.phar
/vendor/
**/*_env
**/env
**/env_**
**/*.sqlite3
**/__pycache__/**
**/migrations
.env
youpi
**/shared
**/__init__.py
sources.txt
*.log
requirements/aegis/ModSecurity/
sources.txt
