asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.2
DateTime==5.4
Deprecated==1.2.14
Django==5.0.1
idna==3.6
jwcrypto==1.5.1
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.0.0
pytz==2023.4
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.0
wrapt==1.16.0
zope.interface==6.1
gunicorn==21.2.0
