asgiref==3.7.2
cffi==1.16.0
cryptography==42.0.2
Deprecated==1.2.14
Django==5.0.1
jwcrypto==1.5.1
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.0.0
sqlparse==0.4.4
typing_extensions==4.9.0
wrapt==1.16.0
