<div class="content-section">
    <form method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="0RqocJWE5WOB9mXEL2ZOF7sCTLSiNNjzcOWJ1zEiYAqylaj2xMgbJufbbcnzsaWK">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create tournament</legend>

  <p>
    <label for="id_tournamentName">Name of the tournament:</label>
    <input type="text" name="tournamentName" maxlength="150" autocapitalize="none" autocomplete="tournamentName" id="id_tournamentName">
  </p>

  
  <p>
    <label for="id_password">Password:</label>
    <input type="password" name="password" autocomplete="new-password" id="id_password">
  </p>

  
  <p>
    <label for="id_maxPlayers">Max players:</label>
    <input type="number" name="maxPlayers" autocomplete=4 id="id_maxPlayers">
  </p>

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Create Tournament</button>
        </div>
    </form>
</div>