* {
	font-family: "Syne", sans-serif;
	font-size: 0pt;
}

body {
	overflow: hidden;
	height: auto;
}

.dot-pattern {
	background: white;
	background-image: radial-gradient(#7300E6 1px, transparent 0);
	background-size: 50px 50px;
	background-position: 12.5px 12.5px;
}

.purple-shadow {
	filter: drop-shadow(4px 4px 8px rgba(115, 0, 230, 0.2));
}

.text-shadow {
	text-shadow: 10px 10px 12px rgba(115, 0, 230, 0.3);
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* language selector */

.language-selector button,
.language-selector ul li a {
	width: 46px;
	height: 46px;
	background-size: cover;
	background-clip: content-box;
	padding: 4px;
	border-radius: 23px;
	font-size: 0;
}

.language-selector button {
	margin-right: 11px;
}

.language-selector ul li a {
	margin-top: 10px;
}

.language-selector button img,
.language-selector ul li a img {
	width: 100%;
}

.language-selector button:hover,
.language-selector ul li a:hover,
.language-selector button:focus,
.language-selector ul li a:focus {
	cursor: pointer;
	box-shadow: inset 0 0 5px 1px rgba(115, 0, 230, 0.5);
	outline: 0;
}

/* text input */

.input-box {
	padding: 10px;
	outline-color: #7300E6;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	border-radius: 12px;
	margin-right: 16px;
}

.input-box-focused {
	outline-width: 3px;
	outline-offset: -3px;
}

.input {
	color: #7300E6;
	font-size: 12pt;
}

.input::placeholder {
	color: rgba(115, 0, 230, 0.75);
}

.input:focus {
	outline: 0;
}

/* submit button */

.submit {
	visibility: hidden;
    opacity:  0;
	width: 0;
	height: 46px;
	padding: 0;
	background-color: #7300E6;
	border-radius: 12px;
}

.submit img {
	width: 16px;
}

.input-container-focused .submit {
	visibility: visible;
    opacity:  1;
	width: 10px;
	padding: 0 22px;
}

.input-container-focused .submit:hover {
	cursor: pointer;
	filter: drop-shadow(4px 4px 12px rgba(115, 0, 230, 0.6));
}

/* sign in / sign up - go back buttons */

.sign-up-sign-in button:hover,
.sign-in-other-nickname button:hover {
	cursor: pointer;
	text-shadow: 5px 10px 12px rgba(115, 0, 230, 0.5);
}
.range-input::-webkit-slider-thumb
/* input warning */

.input-warning {
	margin-top: 16px;
	color: #E2123C;
	font-size: 13pt;
}

/* range input */

.range-input {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
}

/* Chrome, Safari, Edge */
.range-input::-webkit-slider-runnable-track {
	background: #B77DEE;
	border-radius: 2px;
	height: 4px;
}
   
.range-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	outline-width: 3px;
	outline-offset: -1.5px;
	outline-style: solid;
	outline-color: #7300E6;
	background: #FFFFFF;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-top: -5px;
	cursor: pointer;
}

.range-input::-webkit-slider-thumb:hover,
.range-input:focus::-webkit-slider-thumb {
	cursor: pointer;
	outline-width: 5px;
	outline-offset: -2.5px;
	filter: drop-shadow(4px 4px 12px rgba(115, 0, 230, 0.8));
}
   
/* Firefox */
.range-input::-moz-range-track {
	background: #B77DEE;
	border-radius: 2px;
	height: 4px;
}
   
.range-input::-moz-range-thumb {
	outline-width: 3px;
	outline-offset: -1.5px;
	outline-style: solid;
	outline-color: #7300E6;
	background: #FFFFFF;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	cursor: pointer;
}

.range-input::-moz-range-thumb:hover,
.range-input:focus::-moz-range-thumb {
	cursor: pointer;
	outline-width: 5px;
	outline-offset: -2.5px;
	filter: drop-shadow(4px 4px 12px rgba(115, 0, 230, 0.8));
}

/* font size */

.font-size-icon {
	width: 48px;
	margin-right: 16px;
}

/* password eye icons */

.input-box button {
	width: 36px;
	padding: 4px;
	right: 2%;
}

.input-box button:hover {
	cursor: pointer;
}

.input-box button img {
	width: 100%;
}