* {
	font-family: "Syne", sans-serif;
}

body {
	overflow: hidden;
	height: auto;
}

.dot-pattern {
	background: white;
	background-image: radial-gradient(#7300E6 1px, transparent 0);
	background-size: 50px 50px;
	background-position: 12.5px 12.5px;
}

.purple-shadow {
	filter: drop-shadow(10px 10px 12px rgba(115, 0, 230, 0.3));
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* language selector */

.language-selector button,
.language-selector ul li a {
	width: 46px;
	height: 46px;
	background-size: cover;
	background-clip: content-box;
	padding: 4px;
	border-radius: 23px;
	font-size: 0;
}

.language-selector button {
	margin-right: 16px;
}

.language-selector ul li a {
	margin-top: 10px;
}

.language-selector button img,
.language-selector ul li a img {
	width: 100%;
}

.language-selector button:hover,
.language-selector ul li a:hover,
.language-selector button:focus,
.language-selector ul li a:focus {
	cursor: pointer;
	box-shadow: 0 0 5px 1px rgba(115, 0, 230, 0.5) inset;
	outline: 0;
}
