/* general */

.homepage-id {
	font-family: "Syne", sans-serif;
}

/* logo */

.homepage-id div:first-child{
	top: 30%;
}

/* input container */

.homepage-id-input-container {
	top: 55%;
}

/* language selector */

.homepage-id-language-selector button,
.homepage-id-language-selector ul li a {
	width: 46px;
	height: 46px;
	background-size: cover;
	background-clip: content-box;
	padding: 4px;
	border-radius: 23px;
	font-size: 0;
}

.homepage-id-language-selector button {
	margin-right: 16px;
}

.homepage-id-language-selector ul li a {
	margin-top: 10px;
}

.homepage-id-language-selector button img,
.homepage-id-language-selector ul li a img {
	width: 100%;
}

.homepage-id-language-selector button:hover,
.homepage-id-language-selector ul li a:hover,
.homepage-id-language-selector button:focus,
.homepage-id-language-selector ul li a:focus {
	cursor: pointer;
	box-shadow: 0 0 5px 1px rgba(115, 0, 230, 0.5) inset;
	outline: 0;
}

/* text input */

.homepage-id-input-box {
	padding: 10px;
	outline-color: #7300E6;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	border-radius: 12px;
	margin-right: 16px;
}

.homepage-id-input-box-focused {
	outline-width: 3px;
	outline-offset: -3px;
}

.homepage-id-input {
	color: #7300E6;
}

.homepage-id-input::placeholder {
	color: rgba(115, 0, 230, 0.75);
}

.homepage-id-input:focus {
	outline: 0;
}

/* submit button */

.homepage-id-submit {
	visibility: hidden;
    opacity:  0;
	width: 0;
	padding: 0;
	background-color: #7300E6;
	border-radius: 12px;
	transition: visibility  0.15s linear, opacity  0.15s linear;
}

.homepage-id-submit img {
	width: 16px;
}

.homepage-id-input-container-focused .homepage-id-submit {
	visibility: visible;
    opacity:  1;
	width: 10px;
	padding: 0 22px;
}

.homepage-id-input-container-focused .homepage-id-submit:hover {
	cursor: pointer;
}