.homepage-header {
	z-index: 999;
	padding: 5vh;
}

.homepage-header-logo img {
	height: 46px;
}

/* Menus */

.homepage-header-menus > *,
.homepage-header-accessibility {
	height: 46px;
	width: 46px;
	border-radius: 23px;
	border-style: solid;
	border-color: #7300E6;
	border-width: 3px;
	background-color: white;
	margin-right: 16px;
}

.homepage-header-menus > * img {
	height: 22px;
}

.homepage-header-open-menu {
	top: calc(5vh + 66px);
	z-index: 997;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(50px);
	border-radius: 16px;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.homepage-header-category {
	background-color: rgba(115, 0, 230, 0.1);
	backdrop-filter: blur(100px);
	border-radius: 12px;
	padding: 12px;
	margin-bottom: 16px;
}

.homepage-header-category:hover {
	cursor: pointer;
	filter: drop-shadow(4px 4px 12px rgba(115, 0, 230, 0.6));
}

.homepage-header-category img {
	left: 16px;
	width: 24px;
}

.homepage-header-category p {
	font-size: 16pt;
	font-weight: 600;
	color: #7300E6;
}

.homepage-header-tournament img {
	margin-left: 3px;
}

.homepage-header-play img {
	margin-left: 4px;
}

.homepage-header-friends {
	margin-right: 0;
}

.homepage-header-friends img {
	margin-left: 1px;
}

/* Options */

.homepage-header-language-selector {
	margin-right: 4px;
}

.homepage-header-language-selector button,
.homepage-header-language-selector ul li a {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.homepage-header-profile img {
	height: 46px;
	width: 46px;
	border-radius: 23px;
	border-width: 0;
}

/* hover */

.homepage-header-logo:hover,
.homepage-header-menus > *:hover,
.homepage-header-options > *:not(:first-child):hover {
	cursor: pointer;
	filter: drop-shadow(4px 4px 12px rgba(115, 0, 230, 0.6));
}