{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .ball {
                height: 25px;
                width: 25px;
                background-color: #bbb;
                border-radius: 50%;
                position: absolute;
            }
            .player {
                height: 180px;
                width: 20px;
                background-color: #000000;
                position: absolute;
            }
            .score {
                letter-spacing: 1px;
            }
        </style>
    </head>

    <body id="test-target">
        <div class="player" id="me"></div>
        <div class="player" id="opponent"></div>
        <div class="ball"></div>
        <div classe="score" id="score2"></div>
        <div class="score" id="score1"></div>
        {{ roomName|json_script:"roomName" }}
        <script>











































/***************************************** Setup *****************************************/

let gameArea = document.getElementById("test-target"),
htmlme = document.getElementById("me"),
htmlopponent = document.getElementById("opponent"),
htmlBall = document.getElementsByClassName("ball")[0];

const ballStyle = getComputedStyle(htmlBall);
const meStyle = getComputedStyle(htmlme);
const opponentStyle = getComputedStyle(htmlopponent);

const screenHeight = window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
const screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
htmlopponent.style.left = screenWidth - parseInt(meStyle.width, 10) - 10 + 'px';


/***************************************** Classes *****************************************/

class Player {
    constructor(name) {
        this.name = name;
        this.points = 0;
        this.pos = screenHeight / 2;
        this.up = false;
        this.down = false;
    }
    move(playerStyle) {
        let mvt = this.down - this.up;
        const newPos = this.pos + mvt * screenHeight / 300;
        if (newPos + parseInt(playerStyle.height, 10) / 2 < screenHeight && newPos > parseInt(playerStyle.height, 10) / 2) {
            this.pos = newPos;
        }
    }
}

class Ball {
    constructor() {
        this.pos = {x: screenWidth / 2, y: screenHeight / 2};
        this.speed = screenHeight / 500;
        this.angle = Math.PI;
        this.size = screenHeight / 100;
    }
    move() {
        this.pos['x'] += this.speed * Math.cos(this.angle);
        this.pos['y'] -= this.speed * Math.sin(this.angle);
    }
    init() {
        this.pos = {x: screenWidth / 2, y: screenHeight / 2};
        this.speed = screenHeight / 500;
        this.angle = Math.PI;
        this.size = screenHeight / 100;
    }
}

/***************************************** Players movements *****************************************/

let me = new Player("me");
let opponent = new Player("opponent");

// Events for keyboard inputs
gameArea.addEventListener("keydown", (e) => { // Booleans with on press and on release (anyway will be a websocket) !!
    if (e.repeat) {
        return;
    }
    if (`${e.key}` === 'w') {
        me.up = true;
    } else if (`${e.key}` === 's') {
        me.down = true;
    }
});

gameArea.addEventListener("keyup", (e) => { // Booleans with on press and on release (anyway will be a websocket) !!    
    if (`${e.key}` === 'w') {
        me.up = false;
    } else if (`${e.key}` === 's') {
        me.down = false;
    }
});

/***************************************** Websockets *****************************************/

const roomName = JSON.parse(document.getElementById('roomName').textContent);
console.log(roomName);
const exampleSocket = new WebSocket('wss://localhost:8000/ludo/pong/ws/' + roomName + '/'); // Probably add room name

exampleSocket.onopen = function(event) {
    console.log("Socket opened in the front");
    sendStartGameData("gameStart", screenHeight, screenWidth, parseInt(meStyle.height, 10), parseInt(meStyle.width, 10), parseInt(ballStyle.height, 10)); // Player names maybe ?
};

exampleSocket.onclose = function() {
    console.log("Socket closed in the front");
}

exampleSocket.onerror = function(event) {
    console.log("Socket error");
}

exampleSocket.onmessage = (event) => {
    const data = JSON.parse(event.data);
    
    if (data.type == "updateScore") {
        me.points = data.myScore;
        opponent.points = data.opponentScore;
        return;
    }
    if (data.type == "myState")
        me.pos = data.mePos;
    else if (data.type == "opponentState")
        opponent.pos = data.opponentPos
    ball.pos['x'] = data.ballPosX;
    ball.pos['y'] = data.ballPosY;
};

function sendStartGameData(type, screenHeight, screenWidth, playerHeight, playerWidth, ballSize) {
    // Construct a msg object containing the data the server needs to process the message from the chat client.
    const gameData = {
      type: type,
      playerHeight: playerHeight,
      playerWidth: playerWidth,
      screenHeight: screenHeight,
      screenWidth: screenWidth,
      ballSize: ballSize,
    };
  
    // Send the msg object as a JSON-formatted string.
    exampleSocket.send(JSON.stringify(gameData));
}

function sendData(type, meUp, meDown) {
    // Construct a msg object containing the data the server needs to process the message from the chat client.
    const gameData = {
      type: type,
      meUp: meUp,
      meDown: meDown,
    };
  
    // Send the msg object as a JSON-formatted string.
    exampleSocket.send(JSON.stringify(gameData));
}

/***************************************** Game logic *****************************************/

function isPlayerCollision(ball, player, playerStyle) {
    if (ball.pos['y'] > player.pos - (parseInt(playerStyle.height, 10) / 2) && 
        ball.pos['y'] < player.pos + (parseInt(playerStyle.height, 10) / 2)) {
        return true;
    }
    return false;
}

function playerCollision(ball, player, playerStyle) {
    let impactToMid = (ball.pos['y'] - player.pos) / (parseInt(playerStyle.height, 10) * 0.5); // > 0 quand la balle tape en DESSOUS du milieu
    if (player.name === "me") {
        ball.angle = - (Math.PI / 4) * impactToMid;
    } else if (player.name === "opponent") {
        ball.angle = Math.PI + (Math.PI / 4) * impactToMid;
    }
}

function normAngle(angle) {
    if (angle > Math.PI) {
        angle -= 2 * Math.PI;
    } else if (angle < - Math.PI) {
        angle += 2 * Math.PI;
    }
    // return angle;
}

let ball = new Ball();

function gameLoop() {
    // End of point
    // if (ball.pos['x'] > screenWidth) {
    //     me.points++;
    //     ball.init();
    // } else if (ball.pos['x'] < 0) {
    //     opponent.points++;
    //     ball.init();
    // }
    document.getElementById("score1").innerHTML = me.points.toString();
    document.getElementById("score2").innerHTML = opponent.points.toString();

    // Update positions
    // ball.move();
    // me.move(meStyle);
    sendData("gameState", me.up, me.down);
    console.log("Data sent to back");
    
    // Update front
    htmlBall.style.top = ball.pos['y'] - parseInt(ballStyle.height, 10) / 2 + 'px';
    htmlBall.style.left = ball.pos['x'] - parseInt(ballStyle.width, 10) / 2 + 'px';
    htmlme.style.top = me.pos - parseInt(meStyle.height, 10) / 2 + 'px';
    htmlopponent.style.top = opponent.pos - parseInt(opponentStyle.height, 10) / 2 + 'px';
    
    // Collision with opponent
    // if (ball.pos['x'] >= screenWidth - (parseInt(ballStyle.width, 10) + parseInt(opponentStyle.width, 10)) && isPlayerCollision(ball, opponent, opponentStyle)) {
    //     playerCollision(ball, opponent, opponentStyle);
    // }
    
    // Collision with me
    // if (ball.pos['x'] <= parseInt(ballStyle.width, 10) + parseInt(meStyle.width, 10) && isPlayerCollision(ball, me, meStyle)) {
    //     playerCollision(ball, me, meStyle);
    // }
    
    // Collision with walls
    // if (ball.pos['y'] <= parseInt(ballStyle.height, 10) / 2 || ball.pos['y'] >= screenHeight - parseInt(ballStyle.height, 10) / 2) {
    //     ball.angle = - ball.angle;
    // }
}

// Execute gameLoop every x ms
exampleSocket.addEventListener('open', (event) => {
    const intervalID = setInterval(gameLoop, 1);
});

// Need a function which take the positions from the server.































































        </script>
    </body>
</html>